body {
    font-family: Arial, sans-serif;
    background-color: rgb(202, 201, 201);
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-container h1 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 23px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #000000;
    outline: none;
}

.form-group input {
    font-style:italic;
}

.btn{
    background-color: #FA6A69;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
    border: none;
    box-shadow: 0 10px 20px #FA6A6999;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}

.register {
    text-align: center;
    margin-top: 13px;
}
.register a {
    color: #4b6bed;
    text-decoration: none;
    font-size: 14px;
}
.register a:hover {
    text-decoration: underline;
}