* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
}

.header-logo img {
    width: auto;
    height: 130px;
    padding-left: 50px;
    padding-right: 70px;
    position: relative;
}

.header-top {
    background-color: rgb(202, 201, 201);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: black;
}

.header-main {
    display: flex;
    align-items: center;
    padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar input {
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 780px;
    outline: none;
}

.search-bar button {
    background-color: #69a4f1;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 40px;
    border-radius: 5%;
}

.cart {
    padding-left: 13px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
    border-color: #4ca7ff;
}

.cart button {
    background-color: #4ca7ff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.login-btn button {
    margin-left: 30px;
    width: 100px;
    height: 40px;
    border-radius: 13px;
    background-color: #ffffff;
    border-color: rgb(0, 8, 62);
    transition-duration: 1.3s;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.login-btn button:hover {  background-color: #74bcff;;  color: black;}

.register-btn button {
    margin-left: 4px;
    width: 100px;
    height: 40px;
    border-radius: 13px;
    background-color: #ffffff;
    border-color: rgb(0, 8, 62);
    transition-duration: 1.3s;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.register-btn button:hover {  background-color: #74bcff;;  color: black;}

#wp-products {
    padding-top:113px;
    padding-bottom: 78px;
    padding-left:131px;
    padding-right:131px;
    background-color: #efe7e7;
}

.container{
    background-color: #efe7e7;
}

.filter{
    width: 100%;
    margin: 4px;
    padding: 20px;
    display:flex;
}

.filter-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.filter-item select{
    width: 33%;
    padding: 5px;
    border: none;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
    outline: none;
    font-style: italic;
}

.filter-item label{
    display: block;
    padding: 0 10px;
    font-style: italic;
}

.filter-item button{
    width: 33%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 13px;
    border-color: rgb(0, 8, 62);
    transition-duration: 0.4s;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.filter-item button:hover {  background-color: #74bcff;;  color: black;}

.listCard {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.listCard .item {
    width: 270px;
    height: 360px;
    background: rgb(202, 201, 201);
    border-radius: 10px;
    border-style: inset;
    margin-bottom: 50px;
}

.listCard .item img {
    width: 144px;
    height: 210px;
    display: block;
    margin:0px auto;
    margin-top:17px;
}

.listCard .item .name {
    text-align: center;
    color:.000000;
    margin-top:13px;
}

.listCard .item .price {
    text-align: center;
    color:#000000;
    margin-top:13px;
}

.listCard .item .buy {
    margin-left: 95px;
    margin-top: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 39px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 8, 62);
    transition-duration: 0.8s;
    cursor: pointer;
    font-style: oblique;
}

.listCard .item .buy:hover {  background-color: #fd8989;;  color: black;}

.listPage{
    padding: 10px;
    text-align: center;
    list-style: none;
}

.listPage li{
    background-color: #95c8f7;
    padding: 13px;
    display: inline-block;
    margin: 0 8px;
    border-radius: 15px;
    cursor: pointer;
}

.listPage .active{
    background-color: #fd8989;
    color: #000000;
}

.footer-content {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin: 18px;
    width: 10%;
    min-width: 180px;
}

/*.footer-menu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-menu .footer-link {
    width: fit-content;
    min-width: 120px;
    display: inline-block;
    padding: 0 7px;
    font-size: 2rem;
    text-align: center;
}/*